/.vscode
/bin
/obj

{
	"datainscricao": "2020-11-30T19:18:00",
	"flgativo": true,
	"nomeiniciativa": "Natal Feliz",
	"objetivo": "Coleta de brinquedos",
	"publicalvo": "todos",
	"contribuicao": "Apoio as crianças carentes",
	"programacao": "coleta em supermercados de 30/11 a 24/12",
	"valor": 200,
	"retornoinstitucional": 0,
	"segmento" : {
		"id": 1, 
		"segmento": "Campanhas", 
		"descricao": "Campanha",
		"edital": {
			"id": 1,
			"nome": "Edital 2020.2",
			"datainicio": "2020-11-30T18:00:00",
			"datafim": "2020-12-31T22:00:00",
			"vigencia": 1
		}
	},
	"descritivo": "Natal Feliz",
	"pessoajuridica": {
	  "cnpj": 12346,
		"razaosocial": "Empresa1",
		"nomefantasia": "Empresa1",
		"inscricaoestadual": "56488",
		"inscricaomunicipal": "1233",
		"representante": {
			"nome": "Luiz A",
			"cpf": "123456789963",
			"contato":{
			"telefone": "79999225577",
			"celular": "79999852365",
			"email":"empresa@email.com",
			"site":"www.empresa.com.br"
		},
		"endereco": {
			"logradouro": "Rua A",
			"bairro": "Bairro A",
			"complemento": "Loja 1",
			"numero": "1A",
			"cep":"4900000",
			"cidade": {
				"nome": "Aracaju",
				"estado": {
					"id": 1,
					"nome": "Sergipe",
					"uf": "SE",
					"ativo": true
				}
			}
		}		
		},
		"contato":{
			"telefone": "79999225577",
			"celular": "79999852365",
			"email":"empresa@email.com",
			"site":"www.empresa.com.br"
		},
		"endereco": {
			"logradouro": "Rua A",
			"bairro": "Bairro A",
			"complemento": "Loja 1",
			"numero": "1A",
			"cep":"4900000",
			"cidade": {
				"id": 1,
				"nome": "Aracaju",
				"estado": {
					"id": 1,
					"nome": "Sergipe",
					"uf": "SE",
					"ativo": true
				}
			}
		},
		"dataatualizacao": "2020-11-30T19:33:00"
	}
}	
